/* You can add global styles to this file, and also import other style files */
html,body,p{
  color: #484848;
}

.apartment {
  color: #a72da3;
}

.condo{
  color: #d68000;
}

.room{
  color: #bf1818;

}
